name: bhandarx_frontend
description: Beautiful BhandarX Inventory App - Frontend Only
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.2.1
  shared_preferences: ^2.3.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/logo.png